<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @record.data %>
</p>

<p>
  <strong>Team:</strong>
  <%= @record.team ? link_to @record.team.name, @record.team : @record.team_id %>
</p>

<p>
  <strong>Match:</strong>
  <%= @record.match ? link_to @record.match.number, @record.match : @record.match_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user_id %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
