<% if @games.count > 0 %>
	<h1>Listing Games</h1>

	<table>
		<thead>
			<tr>
				<th>Year</th>
				<th>Name</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @games.each do |game| %>
				<tr>
					<td><%= game.year %></td>
					<td><%= game.name %></td>
					<td><%= link_to "Show", game %></td>
					<td><%= link_to "Edit", edit_game_path(game) %></td>
					<td><%= link_to "Destroy", game, method: :delete, data: { confirm: "Are you sure?" } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h1>No Games</h1>
<% end %>

<br>

<%= link_to "New Game", new_game_path %>
