<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @match.event_id %>
</p>

<p>
  <strong>Match number:</strong>
  <%= @match.number %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
